/*
 * --------------------------------------------------------------------------
 * App Styles
 * --------------------------------------------------------------------------
 *
 * Le fichier app contiendra l'ensemble des fichiers css 
 *
 *
 * Fichiers associés :
 *   - Tous les fichiers
 *
 * Auteur : Pierre, Loane et Valentin
 * Année   : 2025
 *
 * --------------------------------------------------------------------------
 */
/* Base */
@import url("@styles/base/reset.css");
@import url("@styles/base/variables.css");
@import url('@styles/base/font.css');

/* components */
@import url("@styles/component/primaryButtonComponent.css");

.full-width-height {
    width: 100%;
    height: 100%;
}

.container-full {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

/* tailwind css*/
@tailwind base;
@tailwind components;
@tailwind utilities;


